<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsq.newsdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.lsq.News.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/p1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.lsq.newsdemo.ContentsActivity">
            <intent-filter >
                <action android:name="news_contents"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.lsq.newsdemo.ImagesActivity">
            <intent-filter>
                <action android:name="images_contents"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            
        </activity>
        <activity 
            android:name="com.lsq.Images.ImageDetailsActivity">
            <intent-filter >
                <action android:name="image_details"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity 
            android:name="com.lsq.newsdemo.RegActivity">
            <intent-filter >
                <action android:name="register"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity 
            android:name="com.lsq.newsdemo.HomeActivity">
            <intent-filter >
                <action android:name="home_activity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity 
            android:name="com.lsq.newsdemo.CommentsActivity">
            <intent-filter >
                <action android:name="comment_activity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity 
            android:name="com.lsq.newsdemo.VideoActivity">
            <intent-filter >
                <action android:name="video_activity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
